# Secrets
.env
*.pem
.databrickscfg
*.md
!README.md

# Python / IDE
.venv/
__pycache__/
*.pyc
.idea/


# Local data files
*.parquet
data/
lake_output/
data-lake/


# dbt
dbt_kafka_store/target/
dbt_kafka_store/dbt_packages/
dbt_kafka_store/logs/
logs/